@media screen and (max-width: 780px) {
	.main__button-plan {
		white-space: nowrap;
	}
}


@media screen and (max-width: 670px) {
	.main__content-plan {
		flex-direction: column;
	}
	.main__plan-slider {
		width: 100%;
	}
	.main__right-block {
		width: 100%;
	}
	.main__right-block-wrap {
		width: 100%;
		margin-top: unset;
	}
	.main__calc-base {
		flex-direction: column;
	}
	.main__left-column-info {
		width: 100%;
	}
	.main__l-info-conditions {
		width: 100%;
		margin: unset;
		min-height: 150px;
		margin: 10px 0;
	}
	.main__left-column-polz {
		width: 97%;
	}
	.main__center-more-info {
		flex-direction: column;
	}
	.main__more-img {
		margin: 0 auto;
		width: 100%;
		max-height: 400px;
	}
	.main__right-more {
		width: 100%;
		margin: 0;
	}
	.main__arrow {
		width: auto;
		padding: 0 5px;
	}
	.right-arrow {
		margin: 0 10px;
	}
	.left-arrow {
		margin: 0 10px;
	}
	.main__forms-top {
		width: 80%;
	}
	.main__forms-wraper {
		height: 90%;
	}
	.main__forms-bt-conteiner {
		form {
			flex-direction: column;
		}
	}
	.tel-forms {
		margin: 20px 0;
	}
	.list-country {
		transform: translate(25px, -50%);
	}
	.footer__button-top {
		right: 30px;
	}
	.main__forms-title {
		padding: 25px 0;
	}
	.main__forms-bottom {
		padding: 40px 0;
	}
	.forms-button {
		margin: 40px 0;
	}
	.header__middle-line {
		align-self: center;
	}
	.main__about-build {
		width: 90%;
	}
	.main__about-title {
		padding: 20px 0;
		margin: 20px 0;
	}
	.card-slider {
		width: 50px;
		height: 50px;
	}
	.main__more-info-title {
		width: 80%;
		margin: 0 auto;
	}
	.card__title {
		font-size: 1.7rem;
	}
	.card__text {
		font-size: 1.2rem;
	}
	.arrow {
		display: none;
	}
}
@media screen and (max-width: 550px) {
	.header__image-banner {
		background-position: 30% 0;
	}
	.card-show {
		flex-direction: column;
	}
	h3, h2 {
		font-size: 1.8rem;
	}
	.card__info {
		width: 90%;
		padding: 20px 0;
	}
	.card__image {
		height: 400px;
		min-height: 400px;
		max-height: 400px;
		width: 100%;
	}
	.main__right-more {
		text-align: center;
	}
	.footer__button-top {
		display: none;
	}
	.main__forms-title {
		h2 {
			font-size: 2.2rem !important;
		}
	}
	.main__calc {
		width: 85%;
	}
	.main__more-img {
		min-height: 400px;
	}
	.main__place-title {
		h2 {
			font-size: 1.8rem;
		}
	}
	.main__place-number {
		font-size: 1.2rem;
		font-weight: 600;
	}
	.main__screen-slider {
		height: 200px;
	}
	.card__info {
		order: 1;
	}
	.card__image {
		order: 0;
	}
	.main__polz-button {
		text-align: center;
	}
	.card-slider {
		width: 45px;
		height: 45px;
	}
}

@media screen and (max-width: 400px) {
	.main__about-bq {
		width: 93%;
		margin: 0 auto;
		text-align: center;
	}
	.main__list-elem-slider {
		justify-content: center;
	}
	.main__arrow {
		display: none;
	}
	.main__forms-bottom {
		width: 90%;
		margin: 0 auto;
	}
	.main__place-wrap {
		width: 93%;
	}
	.main__place-top {
		padding-left: 10px;
	}
	.main__place-bottom {
		flex-direction: column;
		align-items: center;
	}
	.main__place-info-card {
		margin: 13px 5px;
	}
	.header__wraper {
		width: 95%;
	}
	.header__tel {
		white-space: nowrap;
		line-height: 32px;
	}
	.header__name {
		font-size: 2.3rem;
	}
	.header__middle-line {
		width: 80%;
	}
	.header__desc {
		font-size: 1.5rem;
	}
	.header__button {
		white-space: nowrap;
		a {
			padding-inline: 15px;
		}
	}
	.header__bonus-number {
		font-size: 1.2rem;
	}
	.header__bonus-text {
		font-size: 0.8rem;
	}
	.header__bonus-text {
		padding: 10px 0;
	}
	.header__top-line {
		width: 90%;
		margin: 0 auto;
		font-size: 1.2rem;
	}
	.header__location {
		font-size: 1.2rem;
	}
	.header__tel {
		font-size: 1rem;
	}
	.main__content-plan {
		width: 100%;
	}
	.forms-button {
		align-self: center;
	}
}

@media screen and (orientation: landscape) and (max-height: 400px) {
	.main__more-img {
		min-height: 300px;
	}
}