* {
  padding: 0;
  margin: 0;
  border: 0;
}

html, body {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

strong {
  font-weight: normal;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input:focus {
  outline: none;
}

@font-face {
  font-family: "IBMPlexSans-Regular";
  src: url("../../fonts/IBMPlexSans-Regular.eot");
  src: url("../../fonts/IBMPlexSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/IBMPlexSans-Regular.otf") format("otf"), url("../../fonts/IBMPlexSans-Regular.svg#IBMPlexSans-Regular") format("svg"), url("../../fonts/IBMPlexSans-Regular.ttf") format("truetype"), url("../../fonts/IBMPlexSans-Regular.woff") format("woff"), url("../../fonts/IBMPlexSans-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "IBMPlexSans-Italic";
  src: url("../../fonts/IBMPlexSans-Italic.eot");
  src: url("../../fonts/IBMPlexSans-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/IBMPlexSans-Italic.woff2") format("woff2"), url("../../fonts/IBMPlexSans-Italic.woff") format("woff"), url("../../fonts/IBMPlexSans-Italic.ttf") format("truetype"), url("../../fonts/IBMPlexSans-Italic.svg#IBMPlexSans-Italic") format("svg"), url("../../fonts/IBMPlexSans-Italic.otf") format("otf");
}
@-webkit-keyframes up-svg {
  100% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}
@keyframes up-svg {
  100% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}
@-webkit-keyframes shiftHeaderText {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-15px, 0px, 0px);
            transform: translate3d(-15px, 0px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}
@keyframes shiftHeaderText {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-15px, 0px, 0px);
            transform: translate3d(-15px, 0px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}
@-webkit-keyframes shiftHeaderBonus {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0px);
            transform: translate3d(0, -20px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}
@keyframes shiftHeaderBonus {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0px);
            transform: translate3d(0, -20px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}
@-webkit-keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes textShow {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes textShow {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
.show-text::before {
  content: "";
  position: absolute;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: textShow 2s ease forwards;
          animation: textShow 2s ease forwards;
}

@-webkit-keyframes showSwingPhoto {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0px);
            transform: translate3d(0, 40px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0px);
            transform: translate3d(0, 0, 0px);
  }
}

@keyframes showSwingPhoto {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0px);
            transform: translate3d(0, 40px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0px);
            transform: translate3d(0, 0, 0px);
  }
}
.show-swing-photo {
  -webkit-animation: showSwingPhoto 400ms ease forwards;
          animation: showSwingPhoto 400ms ease forwards;
}

@-webkit-keyframes planShiftLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0px, 0px);
            transform: translate3d(-100px, 0px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes planShiftLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100px, 0px, 0px);
            transform: translate3d(-100px, 0px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}
.plan-left {
  -webkit-animation: planShiftLeft 2s ease forwards;
          animation: planShiftLeft 2s ease forwards;
}

@-webkit-keyframes planShiftRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0px, 0px);
            transform: translate3d(100px, 0px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes planShiftRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0px, 0px);
            transform: translate3d(100px, 0px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}
.plan-right {
  opacity: 0;
  -webkit-animation: planShiftRight ease 3s forwards 1s;
          animation: planShiftRight ease 3s forwards 1s;
}

@-webkit-keyframes choiseShow1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 50px, 0px);
            transform: translate3d(0px, 50px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes choiseShow1 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 50px, 0px);
            transform: translate3d(0px, 50px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}
@-webkit-keyframes choiseShow2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, -50px, 0px);
            transform: translate3d(0px, -50px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}
@keyframes choiseShow2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, -50px, 0px);
            transform: translate3d(0px, -50px, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
  }
}
.choise-img-show1 {
  -webkit-animation: choiseShow1 2.5s ease forwards;
          animation: choiseShow1 2.5s ease forwards;
}

.choise-img-show2 {
  -webkit-animation: choiseShow2 2s ease forwards 400ms;
          animation: choiseShow2 2s ease forwards 400ms;
}

html {
  min-height: 100%;
  overflow-x: hidden;
  background-color: #fff;
  font-family: "IBMPlexSans-Regular";
}

body {
  overflow-x: hidden;
  height: auto;
  font-size: 1.15rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #303030;
}

.wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  width: 100%;
  width: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
}

.header__image-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../img/bn.webp") 0 0/100% auto no-repeat;
  background-size: cover;
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

.header__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  height: 85%;
  margin: 20px auto;
  color: #fff;
  position: relative;
  z-index: 9;
}

.header__top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__location {
  -webkit-animation: opac ease 5s forwards;
          animation: opac ease 5s forwards;
  font-size: 1.5rem;
}

.header__tel {
  -webkit-animation: opac ease 5s forwards;
          animation: opac ease 5s forwards;
  font-size: 1.1rem;
}

.header__middle-line {
  margin-top: 25px;
}

.header__main-info {
  margin: 20px 0;
  -webkit-animation: shiftHeaderText 2s ease forwards 100ms;
          animation: shiftHeaderText 2s ease forwards 100ms;
}

.header__name {
  font-size: 4.3rem;
}
.header__name h1 {
  color: #fff;
  text-shadow: 0 2px black;
}

.header__desc {
  font-size: 2rem;
  padding: 30px 0;
}

.header__button a {
  display: inline-block;
  background-color: #DA6464;
  padding: 15px 35px;
  font-size: 1.15rem;
}

.header__info-bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-pack: space-evenly; */
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 35px 0 20px 0;
}

.header__bonus-block {
  -webkit-animation: shiftHeaderBonus ease 2s forwards;
          animation: shiftHeaderBonus ease 2s forwards;
  position: relative;
  max-width: 33.333%;
  margin: 0 12px;
}
.header__bonus-block::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 1px;
  right: 0;
  margin-top: 10px;
  max-width: 40%;
  background-color: #DA6464;
}

.header__bonus-number {
  -webkit-animation: shiftHeaderBonus ease 4s forwards;
          animation: shiftHeaderBonus ease 4s forwards;
  font-size: 2rem;
  font-weight: 600;
}

.header__bonus-text {
  font-size: 1.1rem;
}

.header__run-row {
  background-color: #DA6464;
  width: 100%;
  height: 55px;
}

.header__hidden-row {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 1.2rem;
  letter-spacing: 2.3px;
}

.header__row-visible {
  position: absolute;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  will-change: transform;
  width: auto;
  height: 100%;
  -webkit-animation: marcu linear infinite;
          animation: marcu linear infinite;
}

.header__stroke-slide {
  white-space: nowrap;
  font-size: 1.4rem;
  padding: 0 15px;
}

.main__about-build {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
  width: 80%;
  min-height: 200px;
  margin: 60px auto;
}

.main__about-title {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 20px 0;
}

.main__about-bq {
  position: relative;
  margin: 20px 0;
}
.main__about-bq::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 1px;
  left: 0;
  top: -20px;
  max-width: 60%;
  background-color: #DA6464;
}
.main__about-bq::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 1px;
  right: 0;
  bottom: -20px;
  max-width: 60%;
  background-color: #DA6464;
}

.main__images-build {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4px 1fr 4px 1fr 4px 1fr 4px 1fr 4px 1fr;
  grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  width: 90%;
  grid-gap: 4px;
  margin: 0 auto;
  padding: 50px 0;
      grid-template-areas: "i1 i1 i2 i2 i3 i3" "i5 i5 i5 i5 i5 i5" "i7 i7 i8 i8 i9 i9";
}

.image {
  width: 100%;
  opacity: 0;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: i1;
}

.image2 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: i2;
}

.image3 {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-area: i3;
}

.image5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  max-height: 550px;
  grid-area: i5;
}
.image5 img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.image7 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: i7;
}

.image8 {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: i8;
}

.image9 {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-area: i9;
}

.main__place {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px 0;
  width: 100%;
  min-height: 400px;
  padding: 40px 0;
}

.main__backg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../../img/banner-build.webp") 0 0/100% 100% no-repeat;
  background-size: cover;
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

.main__place-wrap {
  position: relative;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  width: 80%;
  height: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main__place-top {
  padding-left: 25px;
  border-left: solid 5px #DA6464;
}

.main__place-title {
  padding: 18px 0;
}
.main__place-title h2 {
  color: #fff;
  font-size: 2.4rem;
}

.main__text-place {
  padding: 19px 0;
  font-size: 1rem;
}

.main__place-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.main__place-info-card {
  width: 33.3%;
  margin-inline: 15px;
}

.main__place-number {
  font-size: 2rem;
  white-space: nowrap;
}

.main__plans {
  padding: 80px 0;
  margin: 0 auto;
  width: 95%;
}

.main__plan-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.main__content-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 40px auto;
}

.main__plan-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__screen-slider {
  opacity: 0;
  width: 100%;
  height: 450px;
  margin: 20px 0 20px 0;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.main__screen-slider img {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__screen-slider img:hover {
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main__list-elem-slider {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.card-slider {
  opacity: 0;
  border: solid 1px #8C8C8C;
  margin: 5px;
  cursor: pointer;
  height: 60px;
  width: 60px;
  padding: 10px;
}
.card-slider:hover {
  outline: solid 3px #DA6464;
}
.card-slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.main__right-block-wrap {
  margin-top: -60px;
  width: 80%;
}

.main__title-slider {
  font-size: 2.2rem;
  margin: 20px 0;
}

.main__button-plan {
  margin: 40px 0;
}
.main__button-plan a {
  display: inline-block;
  background-color: #DA6464;
  padding: 15px 35px;
  color: #fff;
  text-align: center;
}

.main__base-info-slide {
  width: 100%;
}

.main__base-slide-hidden {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.main__slide-show {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.card-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 47%;
  margin: 0 3%;
}

.card__title {
  padding: 15px 0;
  text-align: center;
  font-weight: 600;
  font-size: 2.3rem;
}

.card__text {
  font-size: 1.3rem;
  line-height: 1.8;
  text-align: center;
}

.card__image {
  width: 50%;
  height: 100%;
}
.card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__calc {
  width: 75%;
  margin: 50px auto;
}

.main__calc-title {
  text-align: center;
  padding: 35px 0;
  font-weight: 600;
  font-size: 2.3rem;
}

.main__calc-base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main__left-column-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

.main__l-info-conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  min-height: 200px;
}

.main__done-svg svg {
  width: 30px;
  height: 30px;
}

.main__text-conditions {
  font-size: 1.5rem;
}

.main__left-column-polz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 48%;
  margin: 0 auto;
}

.main__all-polz {
  font-size: 1rem;
}

.main__polz-full {
  margin: 10px 0;
}

.main__unit {
  color: #6A6A6A;
}

.main__polzunok {
  position: relative;
  width: 100%;
  margin: 60px 0 40px 0;
}
.main__polzunok input {
  width: 100%;
  color: #345;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.main__polzunok input[type=range]::-webkit-slider-runnable-track {
  border-radius: 1px;
  height: 2px;
  background-color: #843838;
}
.main__polzunok input[type=range]::-moz-range-track {
  border-radius: 1px;
  height: 2px;
  background-color: #843838;
}
.main__polzunok input[type=range]::-webkit-slider-thumb {
  background: #DA6464;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  -webkit-box-shadow: 0 0 2px 1px #A4A4A4;
          box-shadow: 0 0 2px 1px #A4A4A4;
  -webkit-appearance: none;
  margin-top: -10px;
}
.main__polzunok input[type=range]::-moz-range-thumb {
  background: #DA6464;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  box-shadow: 0 0 1px 0 #A4A4A4;
  -webkit-appearance: none;
  margin-top: -10px;
}

.main__polz-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.main__move-result {
  position: absolute;
  top: -40px;
  font-size: 0.8rem;
  text-align: center;
  min-width: 20px;
  -webkit-transform: translate(-20px, 0);
          transform: translate(-20px, 0);
  height: 20px;
  border-radius: 4px;
  padding: 4px 7px;
  -webkit-box-shadow: 0 0 5px 1px #C0C0C0;
          box-shadow: 0 0 5px 1px #C0C0C0;
}

.main__polz-button a {
  display: inline-block;
  position: relative;
  padding: 15px 25px;
  color: #fff;
  font-size: 1rem;
  background-color: #9B3D3D;
}
.main__polz-button a:hover {
  -webkit-animation: puls ease-in infinite 1s alternate;
          animation: puls ease-in infinite 1s alternate;
}

@-webkit-keyframes puls {
  100% {
    background-color: #8A1717;
  }
}

@keyframes puls {
  100% {
    background-color: #8A1717;
  }
}
.main__more-info {
  width: 100%;
  margin: 100px 0;
}

.main__more-info-title {
  padding: 55px 0;
  font-weight: 600;
  text-align: center;
  font-size: 2.2rem;
}

.main__more-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
  min-height: 50vh;
  margin: 0 auto;
}

.main__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5%;
}
.main__arrow svg {
  background-color: #DA6464;
  min-width: 30px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.left-arrow svg path {
  -webkit-transform: translateX(-7%);
          transform: translateX(-7%);
}

.main__swiper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main__center-more-info {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition-duration: 170ms;
          transition-duration: 170ms;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.showSlideVis {
  opacity: 1;
  visibility: visible;
}

.main__more-img {
  width: 53%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 10px;
}
.main__more-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__right-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 42%;
  margin: 0 2% 0 2.5%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main__right-title {
  font-weight: 600;
  padding: 10px 0;
  font-size: 2rem;
}

.main__right-more-text {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.2rem;
  color: #525252;
}

.right-arrow svg path {
  -webkit-transform: translateX(7%);
          transform: translateX(7%);
}

.main__chek-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 60px;
  min-width: 150px;
}

.main__check-pos-circle {
  position: relative;
  margin: 0 13px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #DA6464;
}

.circle-mini {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: translate3d(50%, 49%, 0);
          transform: translate3d(50%, 49%, 0);
  border-radius: 50%;
  background-color: #fff;
}

.main__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.main__forms-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../img/forms.webp") 0 0/100% auto no-repeat;
  background-size: cover;
  -webkit-filter: brightness(0.3);
          filter: brightness(0.3);
}

.main__forms-wraper {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #EAE9E9;
  width: 80%;
  height: 80%;
  margin: 25px auto;
}

.main__forms-top {
  width: 45%;
}

.main__forms-title h2 {
  color: #fff;
  font-size: 3.2rem;
}

.main__forms-text {
  color: #E7E7E7;
  padding: 20px 0;
}

.main__forms-bt-conteiner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main__forms-bt-conteiner form label {
  color: #fff;
}
.main__forms-bt-conteiner form input {
  height: 40px;
  background-color: transparent;
  border-bottom: 1px #fff solid;
  font-size: 1rem;
  color: #DADADA;
}
.main__forms-bt-conteiner form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 35%;
}

.tel-forms {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px;
}

.list-number-tel {
  cursor: pointer;
  left: -30px;
  top: 36px;
  z-index: 999;
  position: absolute;
  max-width: 20px;
  width: 15px;
  min-width: unset !important;
}
.list-number-tel img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.list-country {
  position: absolute;
  top: -100px;
  width: 200px;
  min-height: 100px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 1px 1px #767676;
          box-shadow: 0 0 1px 1px #767676;
}

.forms-button {
  display: inline-block;
  min-width: 170px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 12px 15px;
  color: #fff;
  font-size: 1rem;
  background-color: #DA6464;
  border-radius: 2px;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 250px;
  padding: 20px 0;
  color: #DA6464;
}

.footer__info {
  width: 70%;
  font-size: 1.05rem;
  text-align: center;
}

.footer__button-top {
  position: absolute;
  background-color: #FCDBDB;
  right: 50px;
  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
}
.footer__button-top svg {
  -webkit-transform: translate(0.5px, 2px);
          transform: translate(0.5px, 2px);
}
.footer__button-top:hover {
  -webkit-animation: up-svg ease 500ms infinite alternate;
          animation: up-svg ease 500ms infinite alternate;
}
.footer__button-top:hover svg {
  -webkit-animation: up-svg ease 1s infinite alternate;
          animation: up-svg ease 1s infinite alternate;
}

::-moz-selection {
  color: black;
  background-color: #E1D6D6;
}

::selection {
  color: black;
  background-color: #E1D6D6;
}

.list-number-tel {
  width: 25px;
  height: 15px;
}

.list-country {
  display: none !important;
}

.country-list-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
}
.country-list-number li {
  padding: 5px 0;
  border-bottom: 1px solid #DADADA;
}

.country-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.country {
  width: 100%;
  height: 100%;
}

.country-li {
  height: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 25px !important;
  min-width: unset !important;
}

.country-tel {
  font-size: 0.9rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 5px;
  color: #242424;
}

.open-block {
  display: block !important;
}

.main__build_slide-show {
  position: fixed;
  visibility: hidden;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.vis {
  visibility: unset;
}

.main__build-wraper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 92%;
          flex: 1 0 92%;
  height: 85%;
}
.main__build-wraper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4%;
}
.arrow:hover {
  background-color: #FAEEF1;
}
.arrow:active {
  background-color: #F6D8E0;
}

.left-ar {
  padding-left: 10px;
}
.left-ar svg {
  width: 100%;
}

.right-ar {
  padding-right: 10px;
}
.right-ar svg {
  width: 100%;
}

.main__slider-close {
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
}

@media screen and (max-width: 780px) {
  .main__button-plan {
    white-space: nowrap;
  }
}
@media screen and (max-width: 670px) {
  .main__content-plan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__plan-slider {
    width: 100%;
  }
  .main__right-block {
    width: 100%;
  }
  .main__right-block-wrap {
    width: 100%;
    margin-top: unset;
  }
  .main__calc-base {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__left-column-info {
    width: 100%;
  }
  .main__l-info-conditions {
    width: 100%;
    margin: unset;
    min-height: 150px;
    margin: 10px 0;
  }
  .main__left-column-polz {
    width: 97%;
  }
  .main__center-more-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__more-img {
    margin: 0 auto;
    width: 100%;
    max-height: 400px;
  }
  .main__right-more {
    width: 100%;
    margin: 0;
  }
  .main__arrow {
    width: auto;
    padding: 0 5px;
  }
  .right-arrow {
    margin: 0 10px;
  }
  .left-arrow {
    margin: 0 10px;
  }
  .main__forms-top {
    width: 80%;
  }
  .main__forms-wraper {
    height: 90%;
  }
  .main__forms-bt-conteiner form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tel-forms {
    margin: 20px 0;
  }
  .list-country {
    -webkit-transform: translate(25px, -50%);
            transform: translate(25px, -50%);
  }
  .footer__button-top {
    right: 30px;
  }
  .main__forms-title {
    padding: 25px 0;
  }
  .main__forms-bottom {
    padding: 40px 0;
  }
  .forms-button {
    margin: 40px 0;
  }
  .header__middle-line {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main__about-build {
    width: 90%;
  }
  .main__about-title {
    padding: 20px 0;
    margin: 20px 0;
  }
  .card-slider {
    width: 50px;
    height: 50px;
  }
  .main__more-info-title {
    width: 80%;
    margin: 0 auto;
  }
  .card__title {
    font-size: 1.7rem;
  }
  .card__text {
    font-size: 1.2rem;
  }
  .arrow {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .header__image-banner {
    background-position: 30% 0;
  }
  .card-show {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h3, h2 {
    font-size: 1.8rem;
  }
  .card__info {
    width: 90%;
    padding: 20px 0;
  }
  .card__image {
    height: 400px;
    min-height: 400px;
    max-height: 400px;
    width: 100%;
  }
  .main__right-more {
    text-align: center;
  }
  .footer__button-top {
    display: none;
  }
  .main__forms-title h2 {
    font-size: 2.2rem !important;
  }
  .main__calc {
    width: 85%;
  }
  .main__more-img {
    min-height: 400px;
  }
  .main__place-title h2 {
    font-size: 1.8rem;
  }
  .main__place-number {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .main__screen-slider {
    height: 200px;
  }
  .card__info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .card__image {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .main__polz-button {
    text-align: center;
  }
  .card-slider {
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width: 400px) {
  .main__about-bq {
    width: 93%;
    margin: 0 auto;
    text-align: center;
  }
  .main__list-elem-slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__arrow {
    display: none;
  }
  .main__forms-bottom {
    width: 90%;
    margin: 0 auto;
  }
  .main__place-wrap {
    width: 93%;
  }
  .main__place-top {
    padding-left: 10px;
  }
  .main__place-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__place-info-card {
    margin: 13px 5px;
  }
  .header__wraper {
    width: 95%;
  }
  .header__tel {
    white-space: nowrap;
    line-height: 32px;
  }
  .header__name {
    font-size: 2.3rem;
  }
  .header__middle-line {
    width: 80%;
  }
  .header__desc {
    font-size: 1.5rem;
  }
  .header__button {
    white-space: nowrap;
  }
  .header__button a {
    padding-inline: 15px;
  }
  .header__bonus-number {
    font-size: 1.2rem;
  }
  .header__bonus-text {
    font-size: 0.8rem;
  }
  .header__bonus-text {
    padding: 10px 0;
  }
  .header__top-line {
    width: 90%;
    margin: 0 auto;
    font-size: 1.2rem;
  }
  .header__location {
    font-size: 1.2rem;
  }
  .header__tel {
    font-size: 1rem;
  }
  .main__content-plan {
    width: 100%;
  }
  .forms-button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
@media screen and (orientation: landscape) and (max-height: 400px) {
  .main__more-img {
    min-height: 300px;
  }
}