@font-face {
  font-family: 'IBMPlexSans-Italic';
  src: url(./IBMPlexSans-Italic.eot);
  src: url(./IBMPlexSans-Italic.eot?#iefix) format('embedded-opentype'),
       url(./IBMPlexSans-Italic.woff2) format('woff2'),
       url(./IBMPlexSans-Italic.woff) format('woff'),
       url(./IBMPlexSans-Italic.ttf) format('truetype'),
       url(./IBMPlexSans-Italic.svg#IBMPlexSans-Italic) format('svg'),
       url(./IBMPlexSans-Italic.otf) format('otf');
}
